<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">

    <title>英語→日本語翻訳(PDF 結果)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{{base_url}}/">英語→日本語翻訳</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{base_url}}/">最初に戻る<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{base_url}}/pdf_upload">PDF翻訳</a>
          </li>
        </ul>
      </div>
    </nav>

        <h1>英語→日本語翻訳　PDF翻訳結果</h1>

<table border="1"><tr><td width="50%">
<table border="1">
        <tr><th>英語</th><th>日本語</th><th>スコア</th></tr>
<%
for v in show_data:
  if v['best_is_norm'] == 1:
%>      
   <tr><td>{{v['en']}}</td> <td>{{v['ja_best']}}</td> <td>{{"{:.2f}".format(v['ja_best_score'])}}</td></tr>
<%
  else:
%>      
   <tr><td>{{v['en']}}</td> <td>{{v['ja_norm']}}<small>訳抜け防止モード参考訳: {{v['ja_best']}}</small></td> <td>{{"{:.2f}".format(v['ja_best_score'])}}</td></tr>
<%
  end
end
%>
   <tr><td colspan="3">
<%
for idx in page_list:
  if idx == page:
%>      
   <a href="/pdf/{{idx}}/{{pdf_name}}">[[{{idx}}]]</a>&nbsp;     
<%
  else:
%>      
   <a href="/pdf/{{idx}}/{{pdf_name}}">{{idx}}</a>&nbsp;     
<%
  end
end
%>
</td></tr>     
        </table>
</td>
<td width="45%">
<object data="/show_pdf/{{pdf_name}}#page={{page+1}}" type="application/pdf"  width="45%" height="95%" style="position:fixed; top:10px; right:10px">
&nbsp;                                                                                                            
</object>
</td>
</tr>
</table>

        <p class="lead"> 構築手法等、技術的な詳細は<a href="https://staka.jp/wordpress/">stakaのBlog</a>をご参照ください。</p>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
